.clearfix:after{content:".";display:block;font-size:0;height:0;clear:both;visibility:hidden;}
.clearfix:after{_zoom:1;}

.t-tit1,.t-tips,.t-tit2,.t-tit3 { text-align:center;width:100%; }
.t-tit1 { color:#323131;font-size:26px;line-height:40px;height:40px;letter-spacing:20px;padding-top:89px; }
.t-tips { color:#737171;font-size:17px;height:36px;line-height:36px;letter-spacing:16px;padding-bottom:34px; }
.t-tit2,.t-tit3 { color:#323131;font-size:26px;letter-spacing:27px; }
.t-tit2 { height:118px;line-height:118px; }
.t-tit3 { height:72px;line-height:72px;padding-bottom:20px; }
.t-wp,.t-wp ul { height:670px;width:980px; }
.t-wp { margin:0 auto;position:relative; }
.t-wp ul li,.t-wp ul li img { cursor:pointer;float:left;height:315px;width:470px; }
.t-wp ul li { background:#cdcccd;border-radius:2px;margin:0 10px 20px;overflow:hidden;position:relative; }
.t-wp ul li img,.t-wp ul li div { left:0;position:absolute;top:0; }
.t-wp ul li img { z-index:200; }
.t-wp ul li div { display:table;height:315px;width:470px;z-index:100; }
.t-wp ul li div p { color:#fff;vertical-align:middle;display:table-cell;font-size:18px;line-height:28px;text-align:center; }
.t-img { display:block;height:453px;margin:0 auto;width:963px; }
.t-bot { margin-bottom:94px; }
/*-- 弹框 --*/
.bomt { background:#fff;border:1px #c0bebf solid;display:none;overflow:hidden;position:absolute;width:960px;z-index:600; }
.h590 { height:590px;top:0;left:9px;text-align: center; }
.bomt .close { background:url("../img/do/close.png") no-repeat 0 0;cursor:pointer;height:23px;position:absolute;right:10px;top:11px;width:23px; }
.bomt img { display:block;height:470px;margin:14px auto 0;overflow:hidden;width:646px; }
.bomt div { height:82px;margin:0 auto;padding-top:5px;width:700px; }
.bomt div h4,.bomt div p { color:#353435;overflow:hidden;width:700px;font-weight:  }
.bomt div p{text-align: left;text-indent:2em;}
.bomt div h4 { font-size:14px;height:30px;line-height:30px; font-weight: bold;}
.bomt div p { height:52px;line-height:26px; }







